
.acesso-rapido{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 10rem;
    width: 100%;
}

.acesso-rapido__conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid #bdbdbd;
    border-radius: 6px;
    box-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.3);

}

.acesso-rapido__conteudo__titulo{
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-titulo);
    font-weight: var(--fonte-peso-titulo);
}

.acesso-rapido__conteudo__titulo, .acesso-rapido__conteudo__botao{
    color: var(--cor-primaria);
}

.acesso-rapido__conteudo__botao{
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .acesso-rapido{
        padding: 2rem 1rem;
    }
    .acesso-rapido__conteudo{
        width: 100%;
        padding: 1rem;
    }
    
}