
.acesso-rapido{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 10rem;
    width: 100%;
}

.acesso-rapido__conteudo{
    visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid #bdbdbd;
    border-radius: 6px;
    box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3);
    animation: fadeInleft .8s ease-in-out;
    /* Volta ao visibility visible */
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transition: all .3s ease-in-out;
    width: max-content;

}

.acesso-rapido__conteudo:hover{
    box-shadow: 0 4px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.acesso-rapido__conteudo__titulo{
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-titulo);
    font-weight: var(--fonte-peso-titulo);
}

.acesso-rapido__conteudo__titulo, .acesso-rapido__conteudo__botao{
    color: var(--cor-primaria);
}

.acesso-rapido__conteudo__botao{
    text-decoration: none;
    border: 1px solid var(--cor-primaria);
    padding: 1rem;
    border-radius: 6px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.acesso-rapido__conteudo__imagem{
    width: 100%;
    height: max-content;
    border-radius: 6px;
}

.servico{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

@keyframes fadeInleft{
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

@media screen and (max-width: 1024px) {
    .acesso-rapido{
        padding: 2rem 5rem;
    }
    .acesso-rapido__conteudo{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .acesso-rapido{
        padding: 2rem 1rem;
    }
    .acesso-rapido__conteudo{
        padding: 1rem;
        width: 100%;
    }

    .servico{
        display: flex;
        width: 100%;
    }
    
}