.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor-primaria);
    padding: 0 10rem;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

.cabecalho__logo__link {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
    text-decoration: none;
}

.cabecalho__logo__titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-subtitulo);
    font-weight: var(--fonte-peso-titulo);
    color: var(--cor-titulo);
}

.cabecalho__navegacao__lista {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cabecalho__navegacao__lista__item__link,
.cabecalho__navegacao__mobile__lista__item__link {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
}

.cabecalho__navegacao__lista__item__link:hover {
    color: rgba(255, 255, 255, .7);
}

.logo {
    width: 52px;
    border-radius: 14px;
    background-color: transparent;
}


.menu__check {
    display: none;
}

.menu-hamburguer {
    display: none;
}

.menu-hamburguer__linha1,
.menu-hamburguer__linha2,
.menu-hamburguer__linha3 {

    width: 24px;
    height: 4px;
    background: black;
    border-radius: 24px;

}

.cabecalho__navegacao__mobile__lista {
    display: none;
    background: var(--marrom-terra);
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 5rem 0;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 2;
    transition: 0.3s ease-in-out;
    animation: slideInRight 0.3s ease-in-out;
}

.cabecalho__navegacao__mobile__lista__item {
    padding: 1rem;
}

.menu__check:checked~.cabecalho__navegacao__mobile__lista {
    display: flex;
}

.menu__check:checked~.menu-overlay {
    display: block;
}

.cabecalho__navegacao__mobile {
    display: none;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

/*Para que o X possa rodar no seu proprio eixo */
.botao-fechar {
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 4px;
    margin-left: 1rem;
}

.botao-fechar__linha1,
.botao-fechar__linha2 {
    width: 24px;
    height: 4px;
    background: black;
    border-radius: 24px;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease-in-out;
}

.botao-fechar__linha1 {
    transform: rotate(45deg);
}

.botao-fechar__linha2 {
    transform: rotate(-45deg);
}

.ativo {
    color: rgba(255, 255, 255, .7);
}

.desenvolvedor{
    width: 128px;
}

.cabecalho__navegacao__mobile__lista__item__texto{
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    gap: 1rem;
    font-weight: 600;
}


@media screen and (max-width: 768px) {

    .menu-hamburguer {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
    }

    .cabecalho {
        padding: 2rem 1rem;
    }

    .cabecalho__navegacao {
        display: none;
    }

    .cabecalho__navegacao__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}