
.rodape{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: var(--marrom-terra);
    padding: 0 10rem;
    text-align: center;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
}

.rodape__texto{
    color: var(--branco);
}

.rodape__link{
    all: unset;
    text-decoration: none;
    font-weight: var(--fonte-peso-subtitulo);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .rodape{
        padding: 0 5rem;
    }
}

@media screen and (max-width: 480px) {
    .rodape{
        padding: 0 1rem;
    }
}

