
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('reset.css');
@import url('cabecalho.css');
@import url('banner.css');
@import url('acesso-rapido.css');
:root{

    --cor-primaria: #2E8B57;
    --cor-banner: #e8f5e9;
    --cor-botao: #4682B4;
    --cor-de-fundo-neutro: #F8F8FF;
    --cor-titulo: #DAA520;
    --marrom-terra: #8B4513;
    --font-size-titulo: 2rem;
    --font-size-subtitulo: 1.5rem;
    --font-size-texto: 1.1rem;
    --font-size-texto-pequeno: 1rem;
    --font-size-texto-rodape: .875rem;
    --fonte-texto: 'Poppins', sans-serif;
    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-subtitulo: 'Poppins', sans-serif;
    --fonte-peso-padrao: 400;
    --fonte-peso-titulo: 600;
    --fonte-peso-subtitulo: 500;
    --branco: #fff;

}

body{
    font-family: var(--fonte-texto);
    font-size: var(--font-size-texto);
    background: var(--cor-de-fundo-neutro);
    font-weight: var(--fonte-peso-padrao);
}
